services:
  app:
    build: .
    ports:
    - "8000:3000"
    restart: on-failure
    mem_limit: 64M

  nginx:
    # https://github.com/macbre/docker-nginx-http3
    image: ghcr.io/macbre/nginx-http3:1.29.3
    ports:
    - "8888:80"
    volumes:
    - ./app.nginx.conf:/etc/nginx/conf.d/app.conf:ro
    mem_limit: 16M
