services:
  app:
    build: .  # use the local Dockerfile to build the container image
    ports:
    - "8000:3000"  # host:container
    restart: on-failure
    mem_limit: 64M

  nginx:
    # https://github.com/macbre/docker-nginx-http3
    # image: ghcr.io/macbre/nginx-http3:1.29.3  # use the image stored in the registry
    image: "nginx:1.29.4"
    ports:
    - "8888:1080"  # host:container
    # https://docs.docker.com/reference/compose-file/volumes/
    volumes:
    - type: bind   # volume, bind, npipe (named pipe), tmpfs, ...
      source: "./app.nginx.conf"
      target: "/etc/nginx/conf.d/app.conf"
      read_only: true
    mem_limit: 16M
